@rendermode InteractiveServer
@attribute [StreamRendering(true)]

@page "/cities"

<div class="mb-3">
    <button type="button" class="btn btn-light" onclick="@GetCities">
        Listar
    </button>

    <button type="button" class="btn btn-light" onclick="@GetStates">
        Buscar por UF
    </button>
    
    <button type="button" class="btn btn-light" onclick="@GetByCity">
        Buscar por Cidade
    </button>
</div>

@switch (_showComponent)
{
    case Options.List:
        <GetCities />
        break;
    case Options.GetByState:
        <GetCitiesByState />
        break;
    case Options.GetByCity:
        <GetCitiesByName />
        break;
}

@code
{
    private Options? _showComponent;

    protected override void OnInitialized()
    {
        _showComponent = null;
    }

    enum Options
    {
        List,
        GetByState,
        GetByCity
    }

    private void GetCities()
    {
        _showComponent = Options.List;
    }

    private void GetStates()
    {
        _showComponent = Options.GetByState;
    }
    private void GetByCity()
    {
        _showComponent = Options.GetByCity;
    }
}