@rendermode InteractiveServer
@attribute [StreamRendering(true)]

<div class="mb-3">
    <a href="/cities/list">
        <button type="button" class="btn btn-light">
            Listar
        </button>
    </a>

    <a href="/cities/state">
        <button type="button" class="btn btn-light" >
            Buscar por UF
        </button>
    </a>

    <a href="/cities/city">
        <button type="button" class="btn btn-light" >
            Buscar por Cidade
        </button>
    </a>

    <a href="/cities/id">
        <button type="button" class="btn btn-light" >
            Buscar por Id
        </button>
    </a>

    <a href="/cities/create">
        <button type="button" class="btn btn-light" >
            Cadastrar
        </button>
    </a>
</div>