@page "/cities/create"

@inject ICreateCityUseCase CreateCityUseCase
@inject NavigationManager NavigationManager
@inject RecentlyCreatedIdService RecentlyCreatedIdService
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [Authorize]

<CitiesMenu />

<h3>Novo cadastro do IBGE</h3>

<EditForm Model="@Model" OnValidSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">UF</label>
        <InputText id="UF" type="text" class="form-control" @bind-Value="Model.State" />
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cidade</label>
        <InputText id="CityName" type="text" class="form-control" @bind-Value="Model.City" />
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <button class="btn btn-success" type="submit">
        SALVAR
    </button>
</EditForm>

@code {
    private Ibge Model { get; set; } = new();

    async Task HandleSubmitAsync()
    {
        try
        {
            await CreateCityUseCase.CreateIbgeAsync(Model);
        }
        catch
        {

        }
        finally
        {
            int createdId = Model.Id;

            RecentlyCreatedIdService.RecentlyCreatedId = createdId;

            NavigationManager.NavigateTo("/cities/id");
        }
    }
}