@page "/cities/delete/{id:int}"

@inject IDeleteCityUseCase DeleteCityUseCase
@inject IGetCityByIdUseCase GetCityByIdUseCase
@inject NavigationManager NavigationManager
@inject EventStateService EventStateService

@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [Authorize]

<CitiesMenu />

<h3>@Model?.City</h3>

<EditForm Model="@Model" OnValidSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">UF</label>
        <InputText id="UF" type="text" class="form-control" @bind-Value="Model.State" />
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cidade</label>
        <InputText id="CityName" type="text" class="form-control" @bind-Value="Model.City" />
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <button class="btn btn-danger" type="submit">
        DELETE
    </button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    private Ibge Model { get; set; } = new();
    CancellationToken cancellationToken;

    protected override async Task OnInitializedAsync()
    {
        Model = await GetCityByIdUseCase.GetByIdAsync(Id, cancellationToken);
    }

    async Task HandleSubmitAsync()
    {
        try
        {
            await DeleteCityUseCase.Delete(Model.Id);
            EventStateService.Message = "Cadastro removido com sucesso";
            EventStateService.Success = true;
        }
        catch
        {

        }
        finally
        {
            NavigationManager.NavigateTo("/cities/list");
        }
    }
}