@page "/cities/list"

@inject IGetCitiesUseCase GetCitiesUseCase
@rendermode InteractiveServer
@attribute [StreamRendering(true)]

<CitiesMenu />

<h3>Lista de Cidades e UF</h3>

@if (!Ibges.Any())
{
    <Loading />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código IBGE</th>
                <th>UF</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Ibges)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>
                        <a href="/cities/edit/@item.Id" class="btn btn-primary">
                            EDITAR
                        </a>
                        &nbsp;
                        <a href="/cities/delete/@item.Id" class="btn btn-danger">
                            EXCLUIR
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code 
{
    public IEnumerable<Ibge> Ibges { get; set; } = Enumerable.Empty<Ibge>();
    CancellationToken cancellationToken;
    int skip = 0;
    int take = 25;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            Ibges = await GetCitiesUseCase.GetAllIbgeAsync(cancellationToken, skip, take);
        }
        catch
        {
            
        }
        finally
        {

        }
    }
}
