@using DesafioBaltaBlazorIBGE.Data.Repositories
@using DesafioBaltaBlazorIBGE.Data

@inject ApplicationDbContext Context
@rendermode InteractiveServer
@attribute [StreamRendering(true)]

<h3>GetCitiesByName</h3>

<div class="mb-3">
    <label class="form-label">Buscar por Cidade</label>
    <input type="text" class="form-control" @bind="Model.City" />
    <br />
    <button class="btn btn-info" @onclick="() => GetByCityAsync(Model.City) ">
        BUSCAR
    </button>
</div>

@if (_loading)
{
    <Loading />
}
else if (Ibges.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Código IBGE</th>
                <th>UF</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Ibges)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>
                        <a href="/cities/edit/@item.Id" class="btn btn-primary">
                            EDITAR
                        </a>
                        &nbsp;
                        <a href="/cities/delete/@item.Id" class="btn btn-danger">
                            EXCLUIR
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (_searchClicked)
{
    <p>Não foram encontrados registros por essa busca</p>
}

@code {

    public IEnumerable<Ibge> Ibges { get; set; } = Enumerable.Empty<Ibge>();
    private Ibge? Model = new();
    private bool _loading = false;
    private bool _searchClicked = false;

    public async Task GetByCityAsync(string name)
    {
        _loading = true;
        _searchClicked = true;
        StateHasChanged();
        try
        {

            Ibges = await Context
                .Ibges
                .AsNoTracking()
                .Where(x => x.City.Contains(name))
                .ToListAsync();

        }
        catch { }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }
}
