@page "/cities/id"

@inject IGetCityByIdUseCase GetCityByIdUseCase
@inject RecentlyCreatedIdService RecentlyCreatedIdService
@rendermode InteractiveServer
@attribute [StreamRendering(true)]

<CitiesMenu />

<h3>Buscar pelo código IBGE</h3> 

<div class="mb-3">
    <label class="form-label">Buscar por Cidade</label>
    <input type="number" class="form-control" @bind="Model.Id" />
    <br />
    <button class="btn btn-info" @onclick="() => HandleAsync(Model.Id) ">
        BUSCAR
    </button>
</div>

@if (_loading)
{
    <Loading />
}
else if (Ibges.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Código IBGE</th>
                <th>UF</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Ibges)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>
                        <a href="/cities/edit/@item.Id" class="btn btn-primary">
                            EDITAR
                        </a>
                        &nbsp;
                        <a href="/cities/delete/@item.Id" class="btn btn-danger">
                            EXCLUIR
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (RecentlyCreatedIdService.RecentlyCreatedId != 0 && Ibges.Count == 0 && !_searchClicked)
{
    var cityId = RecentlyCreatedIdService.RecentlyCreatedId;
    HandleAsync(cityId);
}
else if (_searchClicked)
{
    <p>Não foram encontrados registros para essa busca</p>
}

@code {
    private Ibge Model = new();
    private List<Ibge> Ibges = new List<Ibge>();
    private bool _loading = false;
    private bool _searchClicked = false;
    CancellationToken cancellationToken;

    public async Task HandleAsync(int id)
    {
        _loading = true;
        _searchClicked = true;
        try
        {
            Ibges.Clear();

            var cityId = await GetCityByIdUseCase.GetByIdAsync(id, cancellationToken);
            if (cityId is null)
            {
                Ibges.DefaultIfEmpty();
                return;
            }
            Ibges.Add(cityId);
        }
        catch
        {
            
        }
        finally
        {
            _loading = false;
            StateHasChanged();
        }
    }
}
